
.chat-side
  .side-header
    .side-header__area 
      %p.side-header__area__name 
        = current_user.name   
      %ul.side-header__area__iconlist
        %li.side-header__area__iconlist__edit
        = link_to new_group_path ,class: "side-header__area__iconlist__edit side-header__area__iconlist__edit--group" do
          = icon("far","edit",class: "side-header__area__btn")
        %li.side-header__area__iconlist__edit
        = link_to edit_user_path(current_user) ,class: "side-header__area__iconlist__edit side-header__area__iconlist__edit--acount" do
          = icon("fas","cog",class: "side-header__area__btn")
   

  .groups
    - current_user.groups.each do |group|
      .grouplist
        = link_to group_messages_path(group) , class: "group" do
          %p.group__name 
            = group.name 
          %p.group__message 
            = group.show_last_message
  
  


      
